<div class="card">
<h3 class="card-header">Sign Up</h3>
<form id="signup-form" class="card-body">
        <label for="username-signup" class="form-label">Username:</label>
        <input type="text" id="username-signup" class="form-input" />
    
        <label for="password-signup" class="form-label">Password:</label>
        <input type="password" id="password-signup" class="form-input" />

        <button type="submit" class="btn">Sign Up</button>
        <a class="login-link" href="/login">Log In Instead</a>
</form>
</div>

<script src="/javascript/signup.js"></script>